body {
	text-align: center;
	text-decoration: none;
	margin: 0;
}

header {
	background-color: #F15B31;
	font-color: #FFFFFF;
	padding: 30px 20px 30px 20px;
}

h1 {
	font-family: "Raleway",sans-serif;
	color: #FFFFFF;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 45px;
	font-weight: 400;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-size: 20px;
	margin: 0;
}

nav {
	background-color: #00A6B3;
	font-color: #FFFFFF;
	padding: 20px 0;
}

a {
	font-family: "Raleway",sans-serif;
	margin: 0 20px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

a:hover {
	border: white;
}

main {
	width: 850px;
	margin: 35px auto;
}

p {
	font-family: 'Droid Serif',sans-serif;
	line-height: 26px;
	font-size: 18px;
}

img {
	margin: 40px 8px;
}

button {
	text-align: center;
	padding: 5px;

}

footer {
	text-transform: uppercase;
	padding: 0 20px 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}





